div.tooltip {   
   position: absolute;
   text-align: center;
   padding: 2px;
   font: 12px sans-serif;
   pointer-events: none;
   background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 4px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );


}

span{
   vertical-align:super;
   font-size:50%;
}

